.nav-bar {
  overflow: hidden;
  padding: 10px 20px;
  .left {
    float: left;
  }
  .right {
    float: right;
  }
  .logo {
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
  li {
    cursor: pointer;
    color: var(--color-headings);
    display: inline;
    padding: 8px 16px;
    margin: 0 16px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    &:hover {
      opacity: 0.6;
    }
    &.contact {
      color: var(--color-white);
      background-color: var(--color-headings);
      border-radius: 10px 1px 10px 10px;
    }
  }
}